<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <button ion-button float-right="true" (click)="change()"><ion-icon name="search"></ion-icon></button>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-row *ngIf="show">
    <ion-col width-25>
      <ion-item class="inp">
        <ion-label color="primary"  >Name</ion-label>
        <ion-input placeholder="Name" [(ngModel)]="name"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col width-25>
      <ion-item class="inp">
        <ion-label color="primary">mobile</ion-label>
        <ion-input placeholder="mobile" [(ngModel)]="mobile"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col width-25>
      <ion-item class="inp">
        <ion-label color="primary">gourp id</ion-label>
        <ion-input placeholder="group Id" [(ngModel)]="groupid"></ion-input>
      </ion-item>
    </ion-col>

    <ion-col width-25>
      <!-- item 4 -->
      <button ion-button (click)="search()">Search</button>
    </ion-col>
  </ion-row>
  <ion-label *ngIf="show_err">*name is required</ion-label>


    <ion-item-group *ngFor="let item of items" >
      <ion-item-divider color="light"></ion-item-divider>
      <ion-item>id : {{item.id}}</ion-item>
      <ion-item>groupid : {{item.groupid}}</ion-item>
      <ion-item>mobile : {{item.mobile}}</ion-item>
      <ion-item>name : {{item.name}}</ion-item>
      <ion-item>active : {{item.active}}</ion-item>
    </ion-item-group>



</ion-content>
